@require './vars'

.badge
  border-radius: $border-radius

  &.danger
    background-color: $red

  &.primary
    background-color: $aqua

  &.warning
    background-color: $yellow

  &.success
    background-color: $green
