@require './vars'

.badge
  border-radius: ($border-radius*2)
  min-width: 5em
  padding: 0 .5em
  color: $dark

  &.danger, &.deleted
    background-color: $red

  &.primary
    background-color: $aqua

  &.warning, &.modified
    background-color: $yellow

  &.success, &.untracked
    background-color: $green
