
@require 'vars'

button
  border: none
  font-family: $font-family
  height: $button-height
  line-height: $button-height
  background-color: $blue
  -webkit-appearance: none
  padding: 0 $padding
  border-radius: $border-radius
  color: darken($aqua, 70%)
  transition: all .2s ease

  &:hover
    background-color: $aqua
    color: $dark

  &.sm
    height: ($button-height/2)
    line-height: ($button-height/2)
    font-size: .9em

  &.block
    display: block
    width: 100%

  &.purple
    background-color: $purple
