@require './vars'

input, textarea
  background-color: lighten($dark, 10%)
  -webkit-appearance: none
  border: none
  font-family: $font-family
  font-size: $font-size
  padding: ($padding/3)
  color: $white
  margin-bottom: 2px
  border-radius: $border-radius
  height: $button-height
  line-height: 1.4em

textarea
  height: ($button-height*2)
