@require './vars'

input, textarea
  background-color: $input-bg
  -webkit-appearance: none
  border: none
  font-family: $font-family-display
  font-size: $font-size
  padding: ($padding/3)
  color: $white
  margin-bottom: 2px
  border-radius: $border-radius
  height: $button-height
  line-height: 1.4em
  outline: none
  transition: all .2s ease

  &:focus
    background-color: lighten($input-bg, 5%)

textarea
  height: ($button-height*2)


.form
  position: relative

  button.dangle
    position: absolute
    right: 0
    bottom: -($button-height - 1px)
    border-top-left-radius: 0
    border-top-right-radius: 0
