
.selector
  padding: ($padding/2)
  position: relative
  background-color: $medium

  ul
    background-color: $medium
    position: absolute
    display: none
    margin: 0
    padding: 0
    list-style: none

    &.active
      display: block

    li
      padding: ($padding/2)
      display: block
      margin: 0
