
.selector
  position: relative
  background-color: $medium
  cursor: pointer
  user-select: none
  color: $yellow

  a.selected, li a
    // padding: $padding, ($padding/2)

  ul
    background-color: $medium
    position: absolute
    display: none
    margin: 0
    padding: 0
    list-style: none
    width: 100%

    &.active
      display: block

    li
      display: block
      margin: 0
      padding: 0
      cursor: pointer

      a
        &:hover
          color: $red
