.task-bar
  position: fixed
  top: 0
  left: 0
  background-color: $dark
  width: 100vw

  nav
    display: flex
    align-items: center
    justify-content: space-between

  .selector
    display: inline-block

    a
      padding: $padding
