
$padding = 20px
$dark = #22262e
$medium = lighten($dark, 5%)
$tan = #de935f
$red = #cc6660
$padding = 20px
$white = #efefef
$blue = #81a2be
$green = #b5bd68
$yellow = #f0c674
$purple = #b294bb
$orange = #d8773b
$aqua = #8abeb7
$input-bg = lighten($dark, 10%)

$button-height = 40px
$tab-height = 30px
$border-radius = 3px
$font-family = Monaco
