
@require 'normalize.css/normalize.css'
@require 'flexboxgrid/css/flexboxgrid.css'
@require 'diff2html/dist/diff2html.css'
@require '_includes/*'
@require '_components/*'

html, body
  height: 100vh
  background-color: $medium
  font-family: $font-family
  color: $white
  padding: $padding
  padding-top: 50px
  font-size: 13px


*
  box-sizing: border-box

a, button
  cursor: pointer
