
@require 'normalize.css/normalize.css'
@require '_includes/*'
@require 'flexboxgrid/css/flexboxgrid.css'

html, body
  height: 100vh
  background-color: $dark
  font-family: Monaco !important
  color: $tan
  padding: $padding
  padding-top: ($padding*2)
  font-size: 13px

.active
  color: $purple
