
@require 'normalize.css/normalize.css'
@require '_includes/*'
@require '_components/*'
@require 'flexboxgrid/css/flexboxgrid.css'

html, body
  height: 100vh
  background-color: $medium
  font-family: $font-family-display
  color: $white
  padding: $padding
  padding-top: 50px
  font-size: 13px
  box-sizing: border-box
  margin: 0

*
  box-sizing: border-box
  &::-webkit-scrollbar
    width: 10px

  &::-webkit-scrollbar-thumb
    background: rgba($purple, 0.3)
    border-radius: 5px

  &::-webkit-scrollbar-track
    background: transparent

a, button
  cursor: pointer

a
  color: $blue

.row
  margin: 0
