
@require '../_includes/vars'

.selector
  position: relative
  cursor: pointer
  user-select: none
  color: $yellow
  display: inline-block

  a
    display: block
    transition: all .2s ease
    cursor: pointer

    &:hover
      color: $aqua
      background-color: lighten($medium, 5%)

  a.selected
    height: $button-height
    line-height: $button-height
    padding: 0 $padding
    color: $aqua

  ul
    border-top: 1px solid lighten($medium, 10%)
    background-color: $medium
    position: absolute
    display: none
    margin: 0
    padding: 0
    list-style: none
    box-shadow: 0px 0px 3px $dark
    max-height: 80vh
    min-width: 100%
    overflow-y: auto
    border-bottom-left-radius: $border-radius
    border-bottom-right-radius: $border-radius

    &.active
      display: block

    li
      display: block
      margin: 0
      padding: 0
      cursor: pointer

      a
        border-bottom: 1px solid lighten($medium, 10%)
        white-space: nowrap
        padding: 0 $padding
        line-height: 3em

      &:last-child
        a
          border: none
