
@require '../_includes/vars'


.status
  .file-list
    margin-bottom: $padding
    // padding-left: $padding

    .file
      margin-bottom: 1px
      padding: .2em
      cursor: pointer
      color: $blue
      transition: all .2s ease

      &.active
        color: $purple !important

      &:hover
        color: lighten($blue, 20%)


  .commit-box
    margin: $padding 0

    input, textarea
      display: block
      width: 100%
