
@require '../_includes/vars'

.commit-box
  margin: $padding 0

  input, textarea
    display: block
    width: 100%

.file-list
  // margin-bottom: $padding
  // padding-left: $padding

  .file
    margin-bottom: 1px
    padding: .2em
    cursor: pointer
    color: $blue

    &:hover
      background-color: $medium
