
@require '../_includes/vars'

.commit-box
  margin-bottom: $padding

  input, textarea
    display: block
    width: 100%

.file-list

  .file
    margin-bottom: 1px
    padding: .2em
    cursor: pointer

    &:nth-child(odd)
      background-color: darken($medium, 10%)

    &:hover
      background-color: $medium
